#editIcon {
    fill: whitesmoke;
}

.row {
    margin: 15px 0;
}

.numbering {
    font-size: 50px;
}

.form-label {
    font-size: 24px;
}

.form-floating {
    --bs-gutter-x: 0;
}

.requiredtag {
    color: red;
}

#deleteIcon {
    fill: white;
    color: white;
}

.btn-dark a{
    color: white;
    text-decoration: none;
}

#formFileSm {
    display: none;
}