<div class="container">
    <form [formGroup]="dynamicForm" (ngSubmit)="submitResponse()">
        <div class="row">
            <div class="form-floating col-2"></div>
            <div class="form-floating col">
                <input 
                    type="text"
                    id="Name"
                    formControlName="Name"
                    class="form-control"
                    placeholder="Fullname*"
                    [ngClass]="{ 'is-invalid': dynamicForm.controls['Name'].invalid && dynamicForm.controls['Name'].touched }">
                <label for="Name" class="align-left">Fullname<span class="requiredtag">*</span></label>
            </div>
            <div class="form-floating col-2"></div>
        </div>
        <hr>
        <div *ngFor="let input of formData.Model.inputs;index as i;">
            <div class="row align-items-center">
                <div class="col">
                    <label for="username" class="form-label align-left">{{i+1}}. {{input.label}}<span *ngIf="input.validators.required == 'true'" class="requiredtag">*</span></label>
                    <input 
                        *ngIf="[
                            'text',
                            'password'].includes(input.type)"
                        [type]="input.type"
                        [id]="input.name"
                        [formControlName]="input.name"
                        class="form-control form-control-sm"
                        [ngClass]="{ 'is-invalid': dynamicForm.controls[input.name].invalid && dynamicForm.controls[input.name].touched }"
                        [placeholder]="input.placeholder"
                        [attr.email]="input.type == 'email'">
                    <input 
                        *ngIf="[
                            'email'].includes(input.type)"
                        [type]="input.type"
                        [id]="input.name"
                        [formControlName]="input.name"
                        class="form-control form-control-sm"
                        [ngClass]="{ 'is-invalid': dynamicForm.controls[input.name].invalid && dynamicForm.controls[input.name].touched }"
                        [placeholder]="input.placeholder"
                        email>
                    <textarea 
                        *ngIf="[
                            'textarea'].includes(input.type)"
                        [id]="input.name"
                        [formControlName]="input.name"
                        class="form-control form-control-sm"
                        [ngClass]="{ 'is-invalid': dynamicForm.controls[input.name].invalid && dynamicForm.controls[input.name].touched }"
                        [placeholder]="input.placeholder"></textarea>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4"></div>
            <div class="col-4 submitbutton">
                <button type="submit" class="btn btn-primary" [disabled]="dynamicForm.invalid">Submit</button>
            </div>
            <div class="col-4"></div>
        </div>
    </form>
</div>